swagger: "2.0"
info:
  description: "Website availability/uptime monitor"
  version: "1.0.0"
  title: "Uptime Monitor"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "developersworkspace@gmail.com"
  license:
    name: "MIT"
    url: "https://opensource.org/licenses/MIT"
host: "api.uptime-monitor.openservices.co.za"
basePath: "/api"
schemes:
- "http"
paths:
  /check:
    get:
      summary: "Find Check"
      description: "Returns Check"
      operationId: "findCheck"
      produces:
      - "application/json"
      parameters:
      - in: "query"
        name: "url"
        description: "URL of website"
        required: true
        type: "string"
      responses:
        200:
            description: "Check"
            schema:
                $ref: "#/definitions/Check"
  /user:
      get:
        summary: "Find User"
        description: "Returns User"
        operationId: "findUser"
        produces:
        - "application/json"
        responses:
          200:
              description: "User"
              schema:
                  $ref: "#/definitions/User"
  /website:
    get:
      summary: "Find Website"
      description: "Returns Website"
      operationId: "findWebsite"
      produces:
      - "application/json"
      parameters:
      - in: "query"
        name: "url"
        description: "URL of website"
        required: true
        type: "string"
      responses:
        200:
            description: "Website"
            schema:
                $ref: "#/definitions/Website"
    post:
      summary: "Create Website"
      description: "Creates website"
      operationId: "createWebsite"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        required: true
        schema:
          $ref: "#/definitions/Website"
      responses:
        200:
            description: "Website"
            schema:
                $ref: "#/definitions/Website"
  /website/statistics:
    get:
      summary: "Find Website Statistics"
      description: "Returns Website Statistics"
      operationId: "findWebsiteStatistics"
      produces:
      - "application/json"
      parameters:
      - in: "query"
        name: "url"
        description: "URL of website"
        required: true
        type: "string"
      responses:
        200:
            description: "Website Statistics"
            schema:
                $ref: "#/definitions/WebsiteStatistics"
definitions:
  Check:
    type: "object"
    properties:
      error:
        type: "object"
      id:
        type: "string"
      responseTime:
        type: "number"
      timestamp:
        type: "string"
      up:
        type: "boolean"
      url:
        type: "string"
  User:
      type: "object"
      properties:
        family_name:
          type: "string"
        given_name:
          type: "string"
        id:
          type: "string"
        name:
          type: "string"
  Website:
    type: "object"
    properties:
      createdTimestamp:
        type: "string"
      id:
        type: "string"
      name:
        type: "string"
      url:
        type: "string"
  WebsiteStatistics:
    type: "object"
    properties:
      availability:
        type: "number"
      averageResponseTime:
        type: "number"
      website:
        $ref: "#/definitions/Website"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"